{% extends 'base.html.twig' %}
 
{% block title %}Forgot Password{% endblock %}
 
{% block body %}
    <form method="POST" class='box'>
        <div class="log-form">
            <h2 class="title">Please write your email </h2>
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            <div class="text-center">
            <button class="btn btn-lg" type="submit">
                Send !
            </button>
            </div>
            </br>
                {{ form(form) }}
            <a href='{{ path('app_login') }}' class='link'>Login</a>
        </div>
        <script src="//www.google.com/recaptcha/api.js?hl=en"></script>
    </form>
 
{% endblock %}