{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}
{% block body %}
<div id='map'></div>
<script src='{{asset('assets/js/cdn/Mapbox_cdn.js')}}'></script>
<script src='{{asset('assets/js/app.js')}}'></script>
{% endblock %}
